aiofiles
git+https://github.com/agronholm/anyio
aiohttp
bs4==0.0.1
datetime
fuzzywuzzy[speedup]
git+https://github.com/Joelkb/cinemagoer
pymongo
motor
marshmallow
umongo
psutil==6.0.0
pyrofork==2.3.45
python-dotenv
pytz
pyspellchecker
requests
telegraph
tgcrypto==1.2.5
pyromod==1.5
aiocache[redis]
dnspython
apscheduler==3.10.4
tmdbv3api
asyncpg
tenacity
